@font-face {
    font-family: icomoon;
    src: url(https://sadjadtavakoli.github.io/css/fonts/icomoon.eot?195opb);
    src: url(https://sadjadtavakoli.github.io/css/fonts/icomoon.eot?195opb#iefix) format('embedded-opentype'), url(https://sadjadtavakoli.github.io/css/fonts/icomoon.ttf?195opb) format('truetype'), url(https://sadjadtavakoli.github.io/css/fonts/icomoon.woff?195opb) format('woff'), url(https://sadjadtavakoli.github.io/css/fonts/icomoon.svg?195opb#icomoon) format('svg');
    font-weight: 400;
    font-style: normal
}

[class*=" icon-"], [class^=icon-] {
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-envelope-o:before {
    content: "\f003"
}

.icon-envelope2:before {
    content: "\e028"
}

.icon-envelope:before {
    content: "\f0e0"
}

.icon-user:before {
    content: "\f007"
}

.icon-facebook2:before {
    content: "\e05d"
}

.icon-facebook:before {
    content: "\f09a"
}

.icon-file-pdf-o:before {
    content: "\f1c1"
}

.icon-file-o:before {
    content: "\f016"
}

.icon-paper-plane:before {
    content: "\f1d8"
}

.icon-paper-plane-o:before {
    content: "\f1d9"
}

.icon-linkedin2:before {
    content: "\e062"
}

.icon-linkedin:before {
    content: "\f0e1"
}

.icon-phone2:before {
    content: "\e004"
}

.icon-phone:before {
    content: "\f095"
}