@font-face {
    font-family: icomoon;
    src: url(https://sadjadtavakoli.github.io/fonts/icomoon/icomoon.eot?srf3rx);
    src: url(https://sadjadtavakoli.github.io/fonts/icomoon/icomoon.eot?srf3rx#iefix) format("embedded-opentype"), url(https://sadjadtavakoli.github.io/fonts/icomoon/icomoon.ttf?srf3rx) format("truetype"), url(https://sadjadtavakoli.github.io/fonts/icomoon/icomoon.woff?srf3rx) format("woff"), url(https://sadjadtavakoli.github.io/fonts/icomoon/icomoon.svg?srf3rx#icomoon) format("svg");
    font-weight: 400;
    font-style: normal
}

body {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.835);
    background-color: #022122;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23031214' fill-opacity='0.47' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
    height: 100%;
    position: relative;
}

@media screen and (max-width:992px) {
    body {
        font-size: 18px;
    }
}

@media screen and (max-width:480px) {
    body {
        font-size: 16px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 4em;
    }
}

a {
    color: #e0a046;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

a:focus, a:hover {
    color: #e0a046;
    outline: 0;
}

.fh5co-text p {
    margin-bottom: 1.5em;
    margin-top: 1em
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    margin: 0
}

::-webkit-selection {
    color: #fff;
    background: #205fca
}

::-moz-selection {
    color: #fff;
    background: #205fca
}

::selection {
    color: #fff;
    background: #205fca
}

#fh5co-main {
    max-width: 75%;
    height: max-content;
    margin: 3em auto 1em auto;
    position: relative;
    overflow: hidden;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

@media screen and (max-width:768px) {
    #fh5co-main {
        margin: 2em 3.3em 1em 3.3em;
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    #fh5co-main {
        height: 100%;
        margin: 1em;
    }
}

.fh5co-tab-menu {
    list-style: none;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    padding: 0;
    margin: 0;
    position: fixed;
    width: -webkit-min-content;
    z-index: 1;
    border-radius: 0 7px 7px 0;
}

@media screen and (max-width:480px) {
    .fh5co-tab-menu {
        border-radius: 7px;
        background-color: rgba(0, 0, 0, 0.8);
        bottom: 0.5em;
        width: fit-content;
        place-self: center;
        padding: 0 .25em 0 .25em;
    }
}

.fh5co-tab-menu li {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    text-align: center;
    padding: 0;
    margin: 0
}

.fh5co-tab-menu li a {
    padding: 1em .75em .25em .75em;
    position: relative;
    color: rgba(255, 255, 255, .5);
    z-index: 10;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.fh5co-tab-menu li a:active, .fh5co-tab-menu li a:hover {
    text-decoration: none;
}

@media screen and (max-width:768px) {
    .fh5co-tab-menu li a {
        padding: .75em .5em .25em .5em
    }
}

.fh5co-tab-menu li a .icon {
    display: block;
    position: relative;
    font-size: 20px;
    bottom: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.fh5co-tab-menu li a .menu-text {
    display: block;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    font-size: 14px
}

@media screen and (max-width:768px) {

    .fh5co-tab-menu li a .icon {
        font-size: 16px;
    }

    .fh5co-tab-menu li a .menu-text {
        font-size: 12px;
    }

}

@media screen and (min-width:768px) {

    .fh5co-tab-menu li a .menu-text.wide {
        display: block;
    }

    .fh5co-tab-menu li a .menu-text.thin {
        display: none;
    }
}

@media screen and (max-width:768px) {

    .fh5co-tab-menu li a .menu-text.wide {
        display: none;
    }

    .fh5co-tab-menu li a .menu-text.thin {
        display: block;
    }
}

@media screen and (max-width:480px) {

    .fh5co-tab-menu li a .menu-text.wide {
        display: block;
    }

    .fh5co-tab-menu li a .menu-text.thin {
        display: none;
    }
}

.fh5co-tab-menu li a:after {
    position: absolute;
    content: "";
    height: 0;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all .5s cubic-bezier(.175, .885, .32, 1.275);
    -moz-transition: all .5s cubic-bezier(.175, .885, .32, 1.275);
    -ms-transition: all .5s cubic-bezier(.175, .885, .32, 1.275);
    -o-transition: all .5s cubic-bezier(.175, .885, .32, 1.275);
    transition: all .5s cubic-bezier(.175, .885, .32, 1.275);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px
}

.fh5co-tab-menu li a:hover {
    color: rgba(230, 230, 230, .788);
    text-decoration: none
}

.fh5co-tab-menu li a:hover:after {
    height: 100%
}

.fh5co-tab-menu li.active .icon {
    bottom: 8px
}

@media screen and (max-width:768px) {
    .fh5co-tab-menu li.active .icon {
        bottom: 6px
    }
}

.fh5co-tab-menu li.active>a {
    color: #fff;
    text-decoration: none
}

.fh5co-tab-menu li.active>a:after {
    height: 100%
}

.fh5co-tab-content {
    top: 0;
    opacity: 0;
    display: none;
    width: 100%;
    padding: 1.5em 3em 5em 3em;
    float: left;
    position: relative;
    background-color: rgba(0, 0, 0, .6);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px
}

.fh5co-tab-content.active {
    opacity: 1;
    display: block
}

@media screen and (max-width:768px) {
    .fh5co-tab-content {
        padding: 1.5em 2em 5em 2em
    }
}

@media screen and (max-width: 480px) {
    .fh5co-tab-content {
        padding: 1.5em 1.5em 5em 1.5em;
        border-radius: 0px
    }
}

#profile-picture {
    margin-bottom: 1.5em;
    width: 50%;
    border-radius: 7px;
}

.fh5co-counter .fh5co-bold {
    color: #fff;
    padding: 0;
    line-height: .7;
    float: left;
    width: 20%
}

.bold-number {
    margin: 0;
    font-size: 100px;
    font-weight: 400;
}


.bold-text {
    margin: 1em 0 0 0;
    font-size: 40px;
    font-weight: 400;
}

@media screen and (max-width:768px) {
    .fh5co-counter .fh5co-bold {
        width: 100%;
        line-height: 1.2
    }
}

.fh5co-counter .fh5co-text {
    float: right;
    text-align: left;
    width: 80%
}

.fh5co-tab-content p {
    text-align: left
}

@media screen and (max-width:768px) {
    .fh5co-counter .fh5co-text {
        width: 100%;
    }
}

.fh5co-counter .fh5co-text h3 {
    margin: 0;
    padding: 0;
    position: relative
}

.fh5co-counter .fh5co-text h3:after {
    content: "";
    width: 50px
}

.fh5co-social {
    padding: 0;
    margin: 0;
    text-align: center
}

.fh5co-social li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1
}

.fh5co-social li a {
    font-size: 30px;
    color: #fff;
    padding: 25px 20px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px
}

@media screen and (max-width:768px) {
    .fh5co-social li a {
        padding: 10px 8px
    }
}

.fh5co-social li a:hover {
    color: #e0a046
}

.fh5co-social li a:active, .fh5co-social li a:focus, .fh5co-social li a:hover {
    outline: 0;
    text-decoration: none
}

.row-bottom-padded-sm {
    padding-bottom: 1em
}

label {
    display: inline-block;
    margin-bottom: .5rem
}

input, textarea {
    margin: 0;
    font-family: inherit;
    line-height: inherit
}

input {
    overflow: visible
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    padding: 0;
    border-style: none
}

textarea {
    overflow: auto;
    resize: vertical
}

.container {
    width: 100%;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-md-12, .col-md-4, .col-md-6 {
    position: relative;
    width: 100%;
}

@media (min-width:480px) {
    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }

    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width:480px) {

    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
}

@media (max-width:768px) {
    .col-md-12, .col-md-6 {
        padding-left: 0px;
        padding-right: 0px
    }
}

@media (min-width:992px) {
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
}

@media (min-width:1200px) {
    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
        flex: 0 0 15%;
        max-width: 15%
    }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        -webkit-transition: none;
        -o-transition: none;
        transition: none
    }
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1
}

textarea.form-control {
    height: auto
}

.form-group {
    margin-bottom: 1rem
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    padding: 12px 16px;
    border-width: 1px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0 10px 20px -6px rgba(0, 0, 0, .12);
    position: relative;
    margin-bottom: 20px;
    transition: .3s;
    touch-action: manipulation;
    white-space: nowrap
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        -webkit-transition: none;
        -o-transition: none;
        transition: none
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none
}

.btn:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.btn:disabled {
    opacity: .65
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0
    }

    to {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0
    }

    to {
        background-position: 0 0
    }
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important
}

.dbox {
    width: 100%;
}

.contact-me {
    margin-bottom: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #f5f5f5;
    margin: 0 auto;
    margin-bottom: 20px;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    flex-direction: column
}

.contact-me:hover, .contact-me:active {
    text-decoration: none;
}

.contact-me span {
    font-size: 20px;
    color: #fff
}

.dbox .text {
    width: 100%
}

.contact-me img {
    width: 21px;
    height: 10px;
    margin-bottom: -.15em
}

.contact-me:hover {
    border-color: #e0a046;
    background-color: #e0a046
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        -webkit-transition: none;
        -o-transition: none;
        transition: none
    }
}

.btn:active, .btn:focus, .btn:hover {
    outline: 0 !important;
    -webkit-box-shadow: 0 10px 20px -6px rgba(0, 0, 0, .22) !important;
    -moz-box-shadow: 0 10px 20px -6px rgba(0, 0, 0, .22) !important;
    box-shadow: 0 10px 20px -6px rgba(0, 0, 0, .22) !important
}

.btn.btn-primary {
    background: #00000000 !important;
    border-color: #f5f5f5 !important;
    color: rgba(255, 255, 255, 0.87)
}

.btn.btn-primary:focus, .btn.btn-primary:hover {
    border-color: #e0a046 !important;
    background: #e0a046 !important
}

.contactForm .label {
    color: rgba(255, 255, 255, .7);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600
}

.contactForm .form-control {
    border: none
}

#contactForm .form-control {
    font-size: 16px
}

#message {
    resize: vertical
}

#form-message-success, #form-message-warning {
    display: none;
    font-size: 18px;
    font-weight: 500
}

#form-message-warning {
    color: red
}

#form-message-success {
    color: #28a745
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-size: 16px;
    font-weight: 500;
    color: #e0a046
}

.card {
    transition: 0.3s;
    cursor: pointer;
    width: inherit;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    margin-bottom: .5em;
}

.card.bordered-card {
    background-color: rgba(230, 230, 230, .1);
}

.card:hover {
    background-color: rgba(230, 230, 230, .2);
    color: #ced4da;
}

.card-header {
    padding: .3em 1em .3em 1em;
    border-color: #ced4da;
    border-radius: 7px 7px 0 0;
}

ul.no-list-style {
    list-style: none;
}

.content {
    display: none;
    background-color: rgba(230, 230, 230, .1);
    padding-left: 15px;
    padding-right: 15px;
    cursor: default;
}

.content.titleld em {
    color: rgba(255, 255, 255, 0.655);
}

.left-info {
    float: left;
}

.right-info {
    float: right;
}

.left-info, .right-info {
    width: fit-content;
    max-width: 50%;
    font-size: medium;
}

.job-title {
    font-weight: bold;
}

.location {
    opacity: .8;
}

.company, .date, .location {
    font-style: italic;
}

.right-info {
    text-align: end;
}

.devider {
    border-top: solid #bbb;
    margin: .5em 1em .5em 1em
}

.text-small {
    font-size: small;
}

.card-body li {
    font-size: medium;
}

.card-body ul {
    margin-top: -.5em;
}

.card-body p {
    font-size: medium;
    margin-top: .5em;
    margin-bottom: .75em;
}

.icon-angle-down, .icon-angle-up {
    place-self: center;
}

.icon-angle-up {
    display: none;
}

h1, h2 {
    margin-bottom: 1em;
}

@font-face {
    font-family: icomoon;
    src: url(https://sadjadtavakoli.github.io/fonts/icomoon/icomoon.eot?srf3rx);
    src: url(https://sadjadtavakoli.github.io/fonts/icomoon/icomoon.eot?srf3rx#iefix) format("embedded-opentype"), url(https://sadjadtavakoli.github.io/fonts/icomoon/icomoon.ttf?srf3rx) format("truetype"), url(https://sadjadtavakoli.github.io/fonts/icomoon/icomoon.woff?srf3rx) format("woff"), url(https://sadjadtavakoli.github.io/fonts/icomoon/icomoon.svg?srf3rx#icomoon) format("svg");
    font-weight: 400;
    font-style: normal
}